.cart {
  display: block;
  border: 1px solid rgb(255, 255, 255);
}

.cart-tile {
  font-size: 1em;
  padding-bottom: 0.75em;
  font-weight: bold;
  box-shadow: 1px 3px 5px #151414;
}

.cart-body {
  font-size: 1em;
  width: 15%;
}