@import 'Style';

$mau:blueviolet;
$base-border-width:20px;
$base-text-align: center;   
$base-border-radius:50px;

h1{
    color: $mau;
    border: $base-border-left;
    border-width: $base-border-width;
 text-align: $base-text-align;
border-radius: $base-border-radius;
}