<<<<<<< HEAD
.bar{
display: flex;
justify-content: space-around;
align-items: center;
}

.logo{
width: 20%;
height: 45px;
}
.menu{
width: 40%;
height: 45px;
}
.accout{
height: 45px;
}

.w-30{
 width:$w-30-width;
}
 
.w-23{
    width:$w-23-width;
   }


.w-100{
    width:$w-100-width;
   }   

.h-100{
    height:$h-100-height;
   
}   
.h-90{
    height:$h-90-height;
   
}   
=======
@use 'sass:math';


.cart{
    display: block;
    border: $base-border-thickness solid rgb(255, 255, 255);
 

}

.cart-tile{
font-size: $base-font-size;
padding-bottom: $base-padding;
font-size: $font-size-lg;
box-shadow: $base-box-shadow;
height: $base-height;
text-align:$base-text-align;
padding-bottom: $base-padding-bottom;
border-radius: math.div($base-border-radius, 50);
}

.cart-body{

    width: $base-width;

}
>>>>>>> 2e7319a04490066d3a337d35e140bbdad8418895
