
.bar{
display: flex;
justify-content: space-around;
align-items: center;
}

.p-d{
    padding: $p-d-padding;
}
 
.logo{
width: 20%;
height: 45px;
}
.menu{
width: 75%;
height: 45px;
display: flex;
align-items: center;
}


.w-30{
 width:$w-30-width;
}
 
.w-23{
    width:$w-23-width;
   }


.w-100{
    width:$w-100-width;
   }   

.h-100{
    height:$h-100-height;
   
}   
.h-90{
    height:$h-90-height;
   
}   

ul li{
    list-style: none;
float: left;
font-size: $base-font-size;
padding: $base-padding;
}
 
header{
    min-height: auto;
}

